.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.mt-5{
 margin-top: 100px;   
}
.mt-4{
    margin-top: 80px;   
}
.mt-3{
    margin-top: 60px;  
}
.mt-2{
    margin-top: 40px;  
}
.mt-1{
    margin-top: 20px;  
}

@media (max-width: 600px) {
   
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 47.6%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .mt-5{
    margin-top: 50px;   
   }
   .mt-4{
       margin-top: 40px;   
   }
   .mt-3{
       margin-top: 30px;  
   }
   .mt-2{
       margin-top: 20px;  
   }
   .mt-1{
       margin-top: 10px;  
   }
}
@media (min-width: 600px)  and (max-width:1024px){

.col-md-6{
  width: 50%;
}
.col-md-8{
  width: 75%;
}
}
nav a{
  transition: 0.1s all;
}
nav a:hover{
background: #4BAA8B;
color: white;
}